.action {
  margin: 0 auto;
  position: relative;
  padding-bottom: 250px;
  // padding: 0 70px;
  // padding: 0 20px;
  &__title {
    padding: 66px 0 24px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
  }

  &__img {
    position: absolute;
    top: -30px;
    left: 110px;
  }

  &__btn-container {
    margin: 0 auto;
    // padding: 0 10px;

    max-width: 1185px;
    position: relative;
    background-color: aqua;
  }
}
