.promo {
  display: flex;
  // justify-content: center;
  // flex-direction: row;
  // flex-direction: column;
  // align-items: stretch;
  position: relative;
  width: 100%;
  height: 1180px;
  overflow: hidden;

  &__wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 762px;
    overflow: hidden;
    z-index: 3;
  }

  &__ellepse {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    width: 1729px;
    height: 1106px;
    top: -372px;
    border-radius: 50%;
    background: $yellow;
    overflow: hidden;

    @media screen and (min-width: 1441px) {
      width: 120%;
    }
  }

  &__ellepse-front {
    top: -390px;

    @media screen and (min-width: 1441px) {
      width: 120%;
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 100%;
  }

  &__img {
    position: absolute;
    overflow: hidden;

    &-kitchen {
      width: 891px;
      left: 0;
      bottom: 0px;
    }

    &-slogan {
      left: 142px;
      bottom: 315px;
    }

    &-oltermanni {
      width: 622px;
      left: 692px;
      bottom: 0;
    }

    &-person {
      width: 615px;
      left: 298px;
      bottom: 75px;
    }

    &-prize {
      width: 177px;
      left: 1100px;
      bottom: 408px;
    }
  }

  &__button {
    padding: 10px 8px;
    background-color: $gray;
    position: absolute;
    z-index: 10;
    top: 694px;
    left: 50%;
    width: 234px;
    height: 69px;

    transform: translate3d(-50%, 0, 0);

    color: $white;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    border-radius: 46px;
    font-family: 'PF Din Text Cond Pro';
    text-transform: uppercase;
    opacity: 1;
    transition: $transition;

    @media screen and (min-width: 768px) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__button-content {
    width: 100%;
    height: 100%;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
  }
}
