.promo {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 1180px;
  overflow: hidden;

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    min-height: 1070px;
  }

  @media screen and (max-width: 767px) and (min-width: 577px) {
    min-height: 1070px;
  }

  @media screen and (max-width: 576px) {
    min-height: 600px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 762px;
    overflow: hidden;
    z-index: 3;
  }

  &__ellepse {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    width: 1729px;
    height: 1106px;
    top: -372px;
    border-radius: 50%;
    background: $yellow;
    overflow: hidden;
    width: 120%;

    @media screen and (min-width: 1441px) {
      width: 120%;
    }

    @media screen and (max-width: 1279px) and (min-width: 1024px) {
      width: 130%;
      // height: 1050px;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
      height: 1020px;
      width: 140%;
    }

    @media screen and (max-width: 767px) and (min-width: 577px) {
      height: 930px;
      width: 150%;
    }

    @media screen and (max-width: 576px) {
      width: 646px;
      top: -125px;
      height: 413px;
    }

    // @media screen and (max-width: 767px) and (min-width: 480px) {
    //   height: 1000px;
    // }

    // @media screen and (max-width: 480px) {
    //   width: 645px;
    //   // width: 140%;
    //   height: 413px;
    //   top: -125px;
    // }
  }

  &__ellepse-front {
    top: -390px;
    // display: none;
    width: 120%;

    @media screen and (min-width: 1441px) {
      width: 120%;
    }

    @media screen and (max-width: 1279px) and (min-width: 1024px) {
      width: 130%;
      // height: 1050px;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      height: 1020px;
      width: 140%;
    }

    @media screen and (max-width: 767px) and (min-width: 577px) {
      height: 930px;
      width: 150%;
    }

    @media screen and (max-width: 576px) {
      width: 646px;
      top: -125px;
      height: 413px;
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    width: 85%;
    max-width: 1440px;
    height: 100%;

    // @media screen and (max-width: 1279px) {
    //   width: 85%;
    // }
  }

  &__img {
    position: absolute;
    overflow: hidden;

    &-kitchen {
      // @include promoImgParams(0, 0, 891px);
      @include promoImgParams(0, 0, 891px);

      @media screen and (max-width: 767px) and (min-width: 577px) {
        width: 80%;
      }

      @media screen and (max-width: 576px) {
        width: 65%;
      }

      // @media screen and (max-width: 1023px) {
      //   @include promoImgParams(70px, 0, 860px);
      // }
    }

    &-slogan {
      // @include promoImgParams(142px, 315px, auto);
      left: 10%;
      bottom: 315px;
      width: 40%;

      @media screen and (max-width: 767px) and (min-width: 577px) {
        bottom: 230px;
        width: 45%;
      }

      @media screen and (max-width: 576px) {
        left: 18%;
        bottom: 130px;
        width: 40%;
      }

      // @media screen and (max-width: 1279px) {
      //   left: 10%;
      //   width: 30%;
      // }

      // @media screen and (max-width: 1170px) and (min-width: 1024px) {
      //   @include promoImgParams(220px, 315px, 500px);
      // }
      // @media screen and (max-width: 1023px) {
      //   @include promoImgParams(340px, 315px, 400px);
      // }
    }

    &-oltermanni {
      // @include promoImgParams(692px, 0, 622px);
      // @media screen and (max-width: 1023px) {
      //   @include promoImgParams(680px, 0, 520px);
      // }
      right: 9%;
      bottom: 0;
      width: 43%;

      @media screen and (max-width: 576px) {
        right: 17%;
        // bottom: 3px;
        width: 36%;
      }
    }

    &-person {
      left: 21%;
      bottom: 75px;
      width: 43%;

      @media screen and (max-width: 767px) and (min-width: 577px) {
        left: 27%;
        bottom: 85px;
        width: 47%;
      }

      @media screen and (max-width: 576px) {
        left: 28%;
        bottom: 35px;
        // width: 43%;
      }
      // @include promoImgParams(298px, 75px, 615px);
      // @media screen and (max-width: 1170px) and (min-width: 1024px) {
      //   @include promoImgParams(360px, 100px, 560px);
      // }
      // @media screen and (max-width: 1023px) {
      //   @include promoImgParams(430px, 130px, 480px);
      // }
    }

    &-prize {
      right: 11.25%;
      bottom: 408px;
      width: 12.5%;

      @media screen and (max-width: 767px) and (min-width: 577px) {
        right: 13%;
        bottom: 300px;
        width: 15.5%;
      }

      @media screen and (max-width: 576px) {
        right: 18.5%;
        bottom: 138px;
        width: 12.5%;
      }
      //   @include promoImgParams(1100px, 408px, 177px);
      //   @media screen and (max-width: 1170px) and (min-width: 1024px) {
      //     @include promoImgParams(1050px, 408px, 167px);
      //   }
      //   @media screen and (max-width: 1023px) {
      //     @include promoImgParams(920px, 408px, 167px);
      //   }
      // }
    }
  }

  &__button {
    padding: 10px 8px;
    background-color: $gray;
    position: absolute;
    z-index: 6;
    top: 694px;
    left: 50%;
    width: 234px;
    height: 69px;

    transform: translate3d(-50%, 0, 0);

    color: $white;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border-radius: 46px;
    font-family: 'PF Din Text Cond Pro';
    text-transform: uppercase;
    opacity: 1;
    transition: $transition;

    @media screen and (min-width: 768px) {
      &:hover {
        opacity: 0.6;
      }
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
      top: 600px;
    }

    @media screen and (max-width: 767px) {
      top: 530px;
      font-size: 14px;
      line-height: 21px;
      width: 164px;
      height: 47px;
      padding: 6px;
    }

    @media screen and (max-width: 576px) {
      top: 262px;
    }
  }

  &__button-content {
    width: 100%;
    height: 100%;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
  }
}
