.promo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 1180px;
  overflow: hidden;

  @media screen and (max-width: 1279px) and (min-width: 768px) {
    min-height: 1070px;
  }

  @media screen and (max-width: 767px) {
    min-height: 600px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 762px;
    overflow: hidden;
    z-index: 3;
  }

  &__ellepse {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    width: 1729px;
    height: 1106px;
    top: -372px;
    border-radius: 50%;
    background: $yellow;
    overflow: hidden;
    width: 120%;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      height: 1050px;
    }

    @media screen and (max-width: 767px) {
      height: 413px;
      width: 170%;
      top: -125px;
    }
  }

  &__ellepse-front {
    top: -390px;
    width: 120%;
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 85%;
    max-width: 1440px;
    height: 100%;

    @media screen and (max-width: 767px) and (min-width: 350px) {
      width: 360px;
    }

    @media screen and (max-width: 349px) {
      width: 315px;
    }
  }

  &__img {
    position: absolute;
    overflow: hidden;
  }

  &__img-kitchen {
    width: 891px;
    left: 0;
    bottom: 0px;
    @media screen and (max-width: 1279px) and (min-width: 1023px) {
      width: 800px;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: 700px;
    }
    @media screen and (max-width: 767px) and (min-width: 481px) {
      width: 333px;
      height: 200px;
      left: -80px;
    }

    @media screen and (max-width: 480px) {
      width: 333px;
      height: 200px;
      left: -80px;
    }
  }

  &__img-slogan {
    left: 142px;
    bottom: 315px;
    @media screen and (max-width: 1279px) and (min-width: 1023px) {
      left: 100px;
      width: 500px;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      left: 30px;
      width: 450px;
    }
    @media screen and (max-width: 767px) {
      left: 5px;
      width: 215px;
      bottom: 132px;
    }
  }

  &__img-person {
    width: 615px;
    left: 298px;
    bottom: 75px;
    @media screen and (max-width: 1400px) and (min-width: 1280px) {
      bottom: 115px;
    }
    @media screen and (max-width: 1279px) and (min-width: 1023px) {
      left: 240px;
      width: 550px;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      left: 155px;
      width: 450px;
    }
    @media screen and (max-width: 767px) {
      bottom: 35px;
      left: 58px;
      width: 250px;
    }
  }

  &__img-oltermanni {
    width: 622px;
    right: 125px;
    bottom: 0;
    @media screen and (max-width: 1279px) and (min-width: 1023px) {
      width: 540px;
      right: 100px;
    }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: 460px;
      right: 10px;
    }

    @media screen and (max-width: 767px) {
      width: 200px;
      right: 0;
    }
  }

  &__img-prize {
    width: 177px;
    right: 162px;
    bottom: 408px;
    @media screen and (max-width: 1279px) and (min-width: 1023px) {
      width: 160px;
      right: 120px;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: 160px;
      right: 40px;
      bottom: 360px;
    }

    @media screen and (max-width: 767px) {
      width: 68px;
      right: 12px;
      bottom: 140px;
    }
  }

  &__button {
    padding: 10px 8px;
    background-color: $gray;
    position: absolute;
    z-index: 6;
    top: 692px;
    left: 50%;
    width: 234px;
    height: 69px;

    transform: translate3d(-50%, 0, 0);

    color: $white;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border-radius: 46px;
    font-family: 'PF Din Text Cond Pro';
    text-transform: uppercase;
    opacity: 1;
    transition: $transition;

    &:hover {
      opacity: 0.6;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
      top: 625px;
    }

    @media screen and (max-width: 767px) {
      top: 262px;
      font-size: 14px;
      line-height: 21px;
      width: 164px;
      height: 47px;
      padding: 6px;
    }
  }

  &__button-content {
    width: 100%;
    height: 100%;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
  }
}
