.rules {
  background: $gradient;
  width: 100%;
  // margin-top: 785px;
  position: absolute;
  padding: 785px 10px 0;

  bottom: 0;
  top: 0;
  left: 0;

  @media screen and (max-width: 1279px) and (min-width: 768px) {
    padding: 680px 10px 0;
  }

  @media screen and (max-width: 767px) {
    padding-top: 335px;
    position: static;
    padding-bottom: 49px;
  }

  @media screen and (max-width: 390px) {
    background: $main-bg-color;
  }

  &__img {
    position: absolute;
  }
  &__img-baloon {
    left: 57px;
    bottom: 253px;
    @media screen and (max-width: 1023px) {
      bottom: 330px;
      left: 27px;
    }
    @media screen and (max-width: 767px) {
      width: 50px;
      height: 100px;
      top: 490px;
    }
  }

  &__img-vector {
    right: 74px;
    bottom: 313px;
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      bottom: 363px;
      right: 27px;
    }
    @media screen and (max-width: 767px) {
      width: 21px;
      height: 32px;
      top: 500px;
      right: 50px;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    padding-top: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 46px;
    text-transform: uppercase;
    color: $third-text-color;
    text-shadow: -3px 5px $white;

    @media screen and (max-width: 767px) {
      font-size: 34px;
      line-height: 41px;
      text-shadow: -2px 2px $white;
    }
  }

  &__card-list {
    margin: 0 auto;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    max-width: 1182px;

    @media screen and (max-width: 767px) {
      margin-top: 35px;
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }

  &__card-arrow {
    background-image: url(../../assets/img/rules/card-arrow.svg);
    width: 24px;
    background-repeat: no-repeat;
    margin: 0 22px;
    margin-top: 70px;
    flex-shrink: 0;
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: 10px;
      background-size: contain;
      margin: 0 3px;
      margin-top: 70px;
    }

    @media screen and (max-width: 767px) {
      background-image: url(../../assets/img/rules/card-arrow-mobile.svg);
      width: 30px;
      height: 14px;
      background-size: contain;
      margin: 24px auto 26px;
    }
  }

  &__card-description {
    min-width: 128px;
    max-width: 230px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: $second-text-color;

    @media screen and (max-width: 1023px) {
      min-width: auto;
    }
  }
}
