.rules {
  background: $gradient;
  width: 100%;
  // height: 693px;
  margin-top: 485px;
  position: absolute;
  padding: 0 10px;
  bottom: 0;
  top: 0;
  left: 0;

  @media screen and (max-width: 1279px) {
    margin-top: 380px;
  }

  @media screen and (max-width: 1023px) {
    margin-top: 300px;
  }

  @media screen and (max-width: 767px) {
    min-height: 1070px;
  }

  @media screen and (max-width: 576px) {
    min-height: 600px;
  }

  &__img {
    position: absolute;
  }
  &__img-baloon {
    left: 57px;
    bottom: 253px;
    @media screen and (max-width: 1023px) {
      bottom: 330px;
      left: 27px;
    }
  }

  &__img-vector {
    right: 74px;
    bottom: 313px;
    @media screen and (max-width: 1023px) {
      bottom: 363px;
      right: 27px;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    margin-top: 356px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 46px;
    // display: flex;
    // align-items: center;
    // text-align: center;
    text-transform: uppercase;
    color: $red;
    text-shadow: -3px 5px $white;
  }

  &__card-list {
    margin: 0 auto;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    // margin-left: 129px;
    max-width: 1182px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }

  &__card-arrow {
    background-image: url(../../assets/img/card-arrow.svg);
    width: 24px;
    // height: 45px;
    background-repeat: no-repeat;
    // background-size: contain;
    margin: 0 22px;
    margin-top: 70px;
    flex-shrink: 0;
    @media screen and (max-width: 1023px) {
      width: 10px;
      background-size: contain;
      margin: 0 3px;
      margin-top: 70px;
    }
  }

  &__card-description {
    min-width: 128px;
    max-width: 230px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: $brownSecond;

    @media screen and (max-width: 1023px) {
      min-width: auto;
    }
  }
}
