.social {
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $brownSecond;
    margin-bottom: 11px;
  }
  ul {
    display: flex;
    gap: 10px;

    li {
      width: 32px;
      height: 32px;
      border-radius: 5px;

      background-color: #ffcd00;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__burger {
    padding: 24px 10px 36px;

    ul {
      li {
        background-color: #ecb200;
      }
    }
  }

  &__footer {
    .social__title {
      text-align: center;
    }
  }
}
