@font-face {
  font-family: 'PF Din Text Cond Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./pfdintextcondpro-regular.woff2') format('woff2'),
    url('./pfdintextcondpro-regular.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./pfdintextcondpro-medium.woff2') format('woff2'),
    url('./pfdintextcondpro-medium.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./pfdintextcondpro-bold.woff2') format('woff2'),
    url('./pfdintextcondpro-bold.woff') format('woff');
}
