$black: #010101;
$white: #ffffff;
$brown: #5a1404;
$brownSecond: #5b1a0d;
$yellow: #ffcd00;
$red: #e63000;
$gray: #ededed;
$gradient: linear-gradient(180deg, #ecb200 0%, #ffcf00 78.83%);

$gold: #e7e7e0;
$lightBlue: #6b8693;
$blue: #2d4b5d;
$darkBlue: #1d282f;
$textShadow: #c6c29b;
// $textShadow: #f3c8a7;

$index: calc(1vw + 1vh);

$transition: opacity 0.2s linear, scale 0.2s linear;
