@import './libs/normalize';
@import '../fonts/condPro.css';

@import './variables';
@import './mixins';

@import './components/all';

body {
  min-width: 320px;
  color: $brown;
  font-family: 'PF Din Text Cond Pro', Arial, sans-serif;
}

a {
  color: $brown;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
